#commerce_shipping_mondial_relay__pickup__wrapper_info {
  display: flex;
}

#commerce_shipping_mondial_relay__pickup__info,
#commerce_shipping_mondial_relay__pickup__hours {
  margin: 1rem;
}

#commerce_shipping_mondial_relay__pickup__hours {
  width: 50%;
}

#commerce_shipping_mondial_relay__pickup__hours .PR-Hours .d {
  background: #eee;
}

#commerce_shipping_mondial_relay__pickup__hours .PR-Hours td {
  width: 35%;
  text-align: center;
}
