<div id="commerce_shipping_mondial_relay__pickup__wrapper_info">
  <div id="commerce_shipping_mondial_relay__pickup__info">
  </div>
  <div id="commerce_shipping_mondial_relay__pickup__hours">
  </div>
</div>
